.vscode/**
.vscode-test/**
src/**
media/**
test/**
docs/**
examples/**
node_modules/**
**/*.ts
**/*.map
esbuild.js
tsconfig.json
IMPLEMENTATION_PLAN.md
!dist/**
!media/style.css
!media/markdown.css
!schemas/**
